

*
{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    background-image: linear-gradient(rgb(236, 178, 220),rgb(228, 103, 161));
}

.navbar
{
    display: flex;
    padding: 5px 0px;
    height:50px;
    width: 100%;
    position: sticky;
    top:0;
    left:0;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.8);
    background-color: rgb(187, 189, 192);
}
.navbar ul{
    display: flex;
    margin:10px 0 10px auto;
    width:55%;
    justify-content: space-evenly;
    list-style: none;
}


.navbar ul li a{
     margin-left:3px;
     text-decoration: none;
     color: black;
     opacity: 0.5;
     font-size: 20px;
     margin-left: 5px;
     transition: color, .3s;

}

.navbar ul li a:hover
{
    color:greenyellow;

}

.introsection
{
    height:300px;
    background-image:url('img/circuits-g82b18738a_640.png') ;
}
.welcome
{
    margin:50px;
    display: flex;
    justify-content: center;
}
.description,.seconddescription
{
    display: flex;
    margin: 20px;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-left:30px;
    font-size: 20px;
}
.parts
{
    display: flex;
    flex-direction: column;
}
.part-first,.second-part
{
    position: relative;
    margin-left:40px;
    left:40%;
    padding-bottom: 20px;


}
video{
    display: flex;
    height: 500px;
    width:350px;
    border-radius: 15px;
    border:2px solid black;
}
.projecttwo,.secondimg
{
    display: flex;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    justify-content: center;
}



.arduino-basic
{
    background-color: black;
    color:white;

}

.arduino-container
{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
}
.arduino-information
{
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;

}
.abclogo
{
    width: 20px;
    height: 25px;
   
}